* {
    box-sizing: border-box;
}

.header {
    height: auto;
    margin-bottom: 40px;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    margin: 20px;
}

.search-form-articles input {
    margin-right: 50px;
}

.article{
    width: 85%;
    margin: 0 auto;
    border: 2px solid black;
}

.article th, tr, td{
    border: 2px solid black;
}

.article td{
    padding: 7px;
}

.article th{
    background-color: darkgrey;
}

.input_actions{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.flash-success{
    width: 100%;
    background-color: limegreen;
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
}

.title_page{
    font-size: 50px;
    text-align: center;
}

.form_article{
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.form_article label{
    font-size: 25px;
}

.title-form-article input{
    width: 400px;
    height: 40px;
}

.content-form-article textarea{
    width: 400px;
    height: 150px;
}

#article_createdAt{
    width: 400px;
    margin-bottom: 50px;
}

.createdat-form-article select{
    margin: 5px;
    width: 70px;
}

.title-form-article, .content-form-article, .createdat-form-article{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.button{
    text-align: center;
}

.button button{
    width: 35%;
    height: 40px;
    background-color: limegreen;
    color: white;
    border-radius: 25px;
}
