{% extends 'base.html.twig' %}

{% block title %}
    <h1 class="title">Mes articles</h1>
{% endblock title %}

{% block main %}

    <section class="articles-container">

        {% for article in articles %}
            <article class="article">
                <h1>{{article.title}}</h1>
                <p>{{ article.content }}</p>
            </article>

        {% endfor %}
    </section>

{% endblock main %}