{% extends 'base.html.twig' %}

{% block style %}{{ asset('assets/css/style.css') }}{% endblock style %}

{% block title %} Remove_page {% endblock title %}

{%  block main %}

    <p>Votre article a bien été supprimé.</p>

{% endblock main %}